*{padding:0;margin:0;}
body{
  background:#ffffff;
  font-family: 'Raleway',sans-serif;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
}
h2          { font-size:1.5em; line-height:1.25; margin-bottom:.45em; }
.section-title{
  margin-bottom: 35px;
  margin-top: 80px;
  text-align: center;
}
.section-title h2{
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.04em;
  margin: 0 0 10px;
  padding: 0 0 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.section-title h2:before {
  border: 2px solid #59a3fc;
  bottom: 0;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 100px;
}
#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: #ff3300;
  color: white;
}
  
.submit:hover {
  color: white;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #ff3300;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  -ms-transition: .7s ease;
  transition: .7s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:#ff3300;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.4s ease-in-out, color 0.4s ease-in-out;
      -o-transition: border 0.4s ease-in-out, color 0.4s ease-in-out;
      transition: border 0.4s ease-in-out, color 0.4s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }
  /* Contact Section
=====================================================================*/
.contact_section{
  overflow: hidden;
  background: none repeat scroll 0 0 #18191a;
  color: #fff;
}
.contact_head{
  padding: 80px 0 30px;
  text-align: center;
}
.contact_head h2{
  font-size: 35px;
  font-weight: bold;
}
.contact_head p{}
.address_part{}
.address{
  margin: 10px auto;
  font-weight: 600;
}
.phone{
  margin: 10px auto;
  font-weight: 600;
}
.email{
  margin: 10px auto;
  font-weight: 600;
}
.social_icons{}
.social_icons ul{}
.social_icons ul li{
  display: inline;
  font-size: 20px;
  margin-right: 10px;
}
.social_icons ul li a{
  font-size: 40px;
}
.contact_form{
  margin-bottom: 20px;
}
.contact_input_box{
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #666;
  border-radius: 30px;
  color: #fff;
  height: auto;
  margin-bottom: 30px;
  padding: 15px;
  resize: none;
}
.contact_input_box1{
  background: none repeat scroll 0 0 transparent;
  padding: 7px;
  padding-left: 5px;
  margin-bottom: 15px;
  border: 1px solid #666;
  border-radius: 30px;


}

.panel{
            background-color: #001f4d;
        }
.contact_button{
  border-radius: 30px;
  font-size: 18px;
  height: auto;
  padding: 10px 25px;
}
.contact_button:focus, .contact_button:active:focus, .contact_button.active:focus {
  outline: medium none;
  outline-offset: -2px;
}
.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}
.TnC{
  color: #ff3300;
}
.container{
    margin-top:20px;
}
